/* General Style */


@font-face {
	font-family: 'Courgette';
	src: url("/static/fonts/courgette/Courgette-Regular.ttf");
}

@font-face{
	font-family: 'Merienda-Bold';
	src: url("/static/fonts/merienda/Merienda-Bold.ttf");
}

@font-face{
	font-family: 'Roboto';
	src: url("/static/fonts/roboto/Roboto-Regular.ttf");
}

@font-face{
	font-family: 'Montserrat';
	src: url("/static/fonts/montserrat/Montserrat-Regular.otf");
}

/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	background: #1d1e21;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #5c5edc;
	outline: none;
}

a:hover {
	color: #3200D6;
	font-weight: 600;
}

.pages{
  position: relative;
}

header{
  position: absolute;
  top: 45%;
  left:10%;
  transform: translateY(-50%);
}

/* Home */

.home-header {
	padding: 6em 10vw 2em;
  width: 50%;
	.home-text{
		position: relative;
	}
}

.home-header-present{
	font-family: 'Merienda-Bold';
	font-size: 50px;
	margin: -9px;
	color: #000;
}


.home-header-desc{
	font-family: 'Courgette';
	font-size: 18px;
	color: #525252;
}

.header-btn{
	padding: 10px 15px;
	text-transform: uppercase;
	background: transparent;
	border: 1px solid #000;
	border-radius: 3px;
	letter-spacing: 2px;
	font-family: 'Roboto';
	display: flex;
	align-items: center;
}

.header-btn a{
	color: #000;
}
.header-btn a:hover{
	color: #000;
	font-weight: 400;
}

.icon-btn{
	margin-left: 5px;
}
.home-header-proff{
	font-family: 'Merienda-Bold';
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 0px;
}

.home-header-proff-title{
	font-family: 'Merienda-Bold';
	font-size: 50px;
	margin: -10px;
	color: #000;
	line-height: 1.3;
}

.home-header-proff-desc{
	font-family: 'Courgette';
	font-size: 18px;
	color: #525252;
}

.home-text1,.home-text2{
	opacity: 0;
	position: absolute;
	top: 0%;
	animation-duration: 2s;
}


.home-text1 .animate, .home-text2 .animate{
	opacity: 1;
}

.show{
	opacity: 1;
	z-index: 100;
}

.home-header__title {
	font-size: 48px;
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}

.home-header__desc {
	font-size: 0.95em;
	margin: 0.5em 0 1em;
	padding: 0;
  color: #777777;
}

.home-header__present {
	font-size: 0.85em;
	font-weight: 700;
	z-index: 100;
	display: block;
	padding: 0 0 0.6em 0.1em;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}

/* About Me */

.aboutme-col1{
	width: 65%;
	height: 100%;
	display: inline-block;
}

.aboutme-col2{
	position: absolute;
	height: 100%;
	width: 35%;
	display: inline-block;
}


.aboutme-header {
	display: block;
	width: 50%;
}

.aboutme-header-title{
	font-size: 38px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}

.aboutme-header-desc {
	font-size: 16px;
	margin: 0.5em 0 1em;
	padding: 0;
	font-family: 'Roboto';
}

.tiles{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 80%;
}


.tiles_info{
	box-shadow: 2px 2px 2px #A1A1A1;
	width: 150px;
	height: 150px;
	margin: 10px 20px;
	display: inline-block;
	background: white;
	padding-top: 10px;
	padding-left: 10px;
}

.first_box{
	border-bottom: 2px solid #2c98f0;
}
.second_box{
	border-bottom: 2px solid #ec5453;
}
.third_box{
	border-bottom: 2px solid #f9bf3f;
}
.fourth_box{
	border-bottom: 2px solid #a84cb8;
}

.tiles_info.animated{
	animation-duration: 5s;
}


.tiles_text{
	font-family: 'Roboto';
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
}

/* Skills */

.myskills-header{
	text-align: center;
	top: 20%;
	margin-left: 5%;
	width: 65%;
}

.myskills-header-title{
	font-size: 38px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}

.skill_row{
	width: 40%;
	display: inline-block;
	margin: 50px;
}

.skill{
	position: relative;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
  width: 90%;
  margin: 20px;
	padding: 1.5em;
}

.skill_header{
  text-transform: uppercase;
	font-size: 25px;
	font-weight: 400;
	font-family: 'Roboto';
	color: #222;
}

.skill_item{
  width: 100%;
}

.bar-title{
	margin: 15px 0px 2px 0px;
	font-family: 'Roboto';
}

.progress{
  border: 0.4px solid #BFBFBF;
  border-radius: 7px;
  align-items: center;
  width: 100%;
  height: 6px;
}

.progress-bar{
  background-image: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  border-radius: 4.5px;
  height: 6px;
	padding: auto 0;
	position: relative;
	font-weight: 700;
	font-family: 'Roboto';
	font-size: 14px;
}

.progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
}

.progress-bar .counter{
  position: absolute;
  top: -22px;
  right: 0;
}
.progress-bar .percent{
  position: absolute;
  top: -22px;
  right: -11px;
}


.bar1,.bar6{
	background-image: -webkit-linear-gradient(0deg, #fe8c00 0%, #f83600 100%);
}
.bar1::after,.bar6::after{
	background: #f83600;
}
.progress-bar .ct1,.progress-bar .p1,.progress-bar .ct6,.progress-bar .p6{
	color: #f83600;
}

.bar2,.bar7{
	background-image: -webkit-linear-gradient(0deg, #44A08D 0%, #093637 100%);
}
.bar2::after,.bar7::after{
	background: #093637;
}
.progress-bar .ct2,.progress-bar .p2,.progress-bar .ct7,.progress-bar .p7{
	color: #093637;
}

.bar3,.bar8{
	background-image: -webkit-linear-gradient(0deg, #f45c43 0%, #eb3349 100%);
}
.bar3::after,.bar8::after{
	background: #eb3349;
}
.progress-bar .ct3,.progress-bar .p3,.progress-bar .ct8,.progress-bar .p8{
	color: #eb3349;
}

.bar4,.bar9{
	background-image: -webkit-linear-gradient(0deg, #cc2b5e 0%, #753a88 100%);
}
.bar4::after,.bar9::after{
	background: #753a88;
}
.progress-bar .ct4,.progress-bar .p4,.progress-bar .ct9,.progress-bar .p9{
	color: #753a88;
}

.bar5,.bar10{
	background-image: -webkit-linear-gradient(0deg, #004e92 0%, #000428 100%);
}
.bar5::after,.bar10::after{
	background: #000428;
}
.progress-bar .ct5,.progress-bar .p5,.progress-bar .ct10,.progress-bar .p10{
	color: #000428;
}

/* Technologies */

.tech-header-title{
	font-size: 38px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
	margin-bottom: 50px;
}

.tech-header{
	width: 30%;
	display: inline-block;
}

.tech-language{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.language{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
}
.language-img{
	margin-right: 10px;
}
.language-text{
	font-size: 18px;
	font-family: 'Roboto';
	font-weight: 600;
}

.tech-tools{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	width: 50%;
}

.tech-tool-col{
	width: 40%;
	display: inline-block;
}

.tech-tool-item{
	width: 80%;
	height: 100px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto';
}
.tech-tool-item2{
	display: block;
	margin: 10px;
}

.tech-tool-item.animated{
	animation-duration: 3s;
}

.tech-tool-item.item1{
	border-bottom: 2px solid #2c98f0;
}
.tech-tool-item.item2{
	border-bottom: 2px solid #ec5453;
}
.tech-tool-item.item3{
	border-bottom: 2px solid #f9bf3f;
}
.tech-tool-item.item4{
	border-bottom: 2px solid #a84cb8;
}
.tech-tool-item.item5{
	border-bottom: 2px solid #2ecc71;
}

.tech-tool-item1{
	width: 100px;
}

.tech-tool-item2{
	font-size: 30px;
	width: 150px;
	display: flex;
	align-items: center;
}

/* Education */

.education-header{
	width: 35%;
}

.education-header-title{
	font-size: 38px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}


.education-info{
	margin: 30px 20px;
	opacity: 0;
	font-family: 'Roboto';
}
.education-info.animated{
	opacity: 1;
	animation-duration: 2s;
}
.education-title{
	font-size: 20px;
	font-weight: 700;
}
.education-desc{
	font-style: italic;
}
.education-pointer{
	font-style: italic;
}
.education-poster{
	text-align: center;
	position: absolute;
	top: 35%;
	right: 0%;
	width: 50%;
	transform: translateY(-50%);
	padding: 20px;
	padding-bottom: 10px;
	background: rgba(181, 181, 181, 0.2);
	box-shadow: 2px 2px 2px #737373;
}
.college-img img{
	width: 100%;
}

.education-poster.animated{
	animation-duration: 2s;
}

/* Projects */

.project-header{
	position: absolute;
	top: 20%;
	left: 50%;
	width: 80%;
	transform: translateX(-50%);
}
.project-header-title{
	text-align: center;
	font-size: 38px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}
.project-section{
	margin-top: 20px;
}
.project-type{
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 20px;
	width: 100%;
	text-align: center;
}
.project-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.project{
	position: relative;
	width: 180px;
	height: 180px;
	border: 1px solid black;
	margin: 20px;
}
.project-image{
	width: 100%;
	height: 180px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(54, 54, 54, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.project:hover .overlay {
  height: 100%;
}
.project-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
	font-family: "Roboto";
}
.project-text a{
	color: #8F8F8F;
}

.project-text a:hover{
	color: #FFFFFF;
	font-weight: normal;
}

/* Personal Info */

.info-header-title{
	font-size: 38px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}

.info-desc{
	margin: 20px;
}

.info-desc-title{
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	opacity: 0;
	font-family: 'Roboto';
}

.info-desc-title.animated{
	opacity: 1;
}

.info-desc-value{
	display: inline-block;
	font-size: 18px;
	font-style: italic;
	opacity: 0;
	font-family: 'Roboto';
}

.info-desc-value.animated{
	opacity: 1;
}

/* Blogs and News */

.blog-header{
	width: 42%;
}

.blog-header-title{
	font-size: 38px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}

.blog-header-desc{
	font-family: 'Courgette';
	font-size: 18px;
}

.blog-info-title{
	font-size: 20px;
	font-weight: 700;
	font-family: 'Roboto';
	margin-top: 50px;
}
.blog-info{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
}

.blog-poster{
	position: absolute;
	top: 20%;
	right: 5%;
	width: 35%;
}
.blog-poster-title{
	font-size: 30px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}
.blog-data-container{
  position: relative;
}
.blog-data{
  position: absolute;
  top: 0%;
}
.blog-quote{
  height: 3em;
}
.blog-quote-data{
  opacity: 0;
	font-family: 'Courgette';
}
.blog-quote-data.animated{
  animation-duration: 3s;
}
.blog-quote-data.show{
  opacity: 1;
}

.blog-quote-author-box{
	text-align: right;
}

.blog-quote-author{
	font-weight: 600;
  opacity: 0;
}
.blog-quote-author.show{
  opacity: 1;
}
.blog-quote-author.animated{
  animation-duration: 3s;
}
.blog-quote-poster{
  width: auto;
  height: 300px;
  opacity: 0;
}
.blog-quote-poster.show{
  opacity: 1;
}
.blog-quote-poster.animated{
  animation-duration: 3s;
}

/* Get in touch */

.contact-header{
	width: 40%;
}

.contact-header-title{
	font-size: 38px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
}

.contact-info{
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 40px;
}

.contact-box{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 0;
}

.contact-icon{
	opacity: 0;
}
.contact-icon.show{
	opacity: 1;
}
.contact-icon.animated{
	animation-duration: 2s;
}

.contact-value{
	margin-left: 10px;
	font-weight: 500;
	opacity: 0;
}
.contact-value.show{
	opacity: 1;
}
.contact-value.animated{
	animation-duration: 2s;
}


.form-container{
	position: absolute;
	top: 20%;
	right: 7%;
  width: 35%;
}

.form-body{
	width: 100%;
}
.form-body.animated{
	animation-duration: 3s;
}
.form-title{
	width: 100%;
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 1.3;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222222;
	text-align: center;
	opacity: 0;
}
.form-title.show{
	opacity: 1;
}
.form-title.animated{
	animation-duration: 3s;
}


.form-control {
	margin: 10px 0px;
	width: 100%;
	padding: 10px 20px;
  appearance: none;
  box-shadow: none;
  background: transparent;
  border: transparent;
  background: #f2f3f7;
  height: 54px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
  border-radius: 0;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
  background: #f0f0f0;
}

#message{
	height: 100px;
}

.btn-send-message{
	padding: 10px 15px;
	border: 1px solid #000;
	color: #000;
	background: transparent;
	font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
	padding: 10px 15px;
	font-weight: 400;
	border-radius: 2px;
}

.btn-send-message:hover{
	color: #fff;
	background: #000;
}


@media screen and (max-width: 80em){
		.tiles_info{
			width: 120px;
			height: 120px;
			padding: 10px;
		}
		.tiles_text{
			font-size: 12px;
		}
		.skill_row{
			position: absolute;
			top: -200px;
			width: 100%;
			display: block;
			margin-left: -50px;
		}
		.row_2{
			top: 100px;
		}
		.tech-tool-item2{
			font-size: 20px;
		}
		.education-poster{
			width: 50%;
		}
		.college-img img{
			width: 100%;
		}
		.info-header{
			width: 50%;
		}

}
@media screen and (max-width: 60em){
	.tech-header{
		display: block;
		width: 80%;
		text-align: center;
	}
	.tech-tools{
		position: absolute;
		display: block;
		width: 80%;
		top: 110%;
		left: 20%;
		margin-bottom: 10px;
	}
	.tech-tool-item1 img{
		width: 60px;
	}
	.tech-tool-item2{
		font-size: 16px;
	}
	.language-img img{
		width: 100px;
		height: auto;
	}
	.language-text{
		font-size: 16px;
	}
	.education-header{
		display: block;
		width: 80%;
	}
	.education-poster{
		display: block;
		width: 80%;
		top: 70%;
		left: 10%;
	}
	.college-img img{
		width: 100%;
	}
	.blog-quote-poster{
	  width: 220px;
	  height: auto;
	}
	.contact-header{
		display: block;
		width: 80%;
	}
	.form-container{
		display: block;
		width: 80%;
		top: 75%;
		margin-bottom: 10px;
	}
	.project{
		width: 150px;
		height: 150px;
	}
	.project-image{
		height: 150px;
	}
}

@media screen and (max-width: 40em) {
  header{
    position: relative;
  }
	.home-header, .aboutme-header{
		padding: 50px 20px 1em;
    width: 90%;
    top: 20%;
	}
	.home-header-present, .home-header-proff-title{
		font-size: 35px;
	}
	.home-header-desc, .home-header-proff-desc{
		font-size: 14px;
	}
	.home-header-proff{
		font-size: 25px;
	}
	.home-text1, .home-text2{
			margin: 0em 1em;
		}
	.header-btn{
		padding: 5px 10px;
		letter-spacing: 1px;
		font-size: 12px;
	}
	.poster{
		top: 60%;
	}

	.aboutme-header {
		padding: 50px 20px 1em;
    width: 90%;
    top: 30%;
	}

	.aboutme-header__title {
		font-size: 1.8em;
	}
	.aboutme-col1{
		display: block;
		width: 100%;
		top: 10%;
		position: absolute;
	}
	.aboutme-col2{
		position: absolute;
		display: block;
		width: 100%;
		bottom: -40%;
	}
	.aboutme-header-title{
		font-size: 30px;
	}
	.aboutme-header-desc{
		font-size: 14px;
	}
	.tiles_info{
		width: 100px;
		height: 100px;
		margin: 10px;
		margin-left: 40px;
	}
	.tiles_text{
		font-size: 10px
	}
	.myskills-header-title{
		font-size: 30px;
	}
	.skill_header{
		font-size: 18px;
	}
	.skill_row{
		width: 100%;
		display: block;
		margin-left: -30px;
	}
	.tech-header-title{
		font-size: 30px;
	}
	.education-header-title{
		font-size:30px;
	}
	.education-title{
		font-size: 16px;
	}
	.info-header{
		display: block;
		width: 80%;
		top: 30%;
	}
	.info-header-title{
		font-size: 30px;
	}
	.info-desc{
		margin: 10px;
	}
	.info-desc-title{
		font-size: 18px;
	}
	.info-desc-value{
		font-size: 16px;
	}
	.info-poster{
		top: 33%;
	}
	.blog-header{
		display: block;
		width: 80%;
	}
	.blog-header-title{
		font-size: 30px;
	}
	.blog-header-desc{
		font-size: 16px;
	}
	.blog-info-title{
		font-size: 18px;
	}
	.blog-info{
		font-size: 16px;
	}
	.blog-poster{
		display: block;
		width: 80%;
		top: 70%;
	}
	.blog-poster-title{
		font-size: 24px;
	}
	.form-container{
		top: 80%;
	}
	.contact-header-title{
		font-size: 30px;
	}
	.contact-info{
		font-size: 14px;
	}
	.form-title{
		font-size: 22px;
	}
	.project-header{
		width: 90%;
	}
	.project-header-title{
		font-size: 30px;
	}
	.project-type{
		font-size: 18px;
	}
	.project-text{
		font-size: 16px;
	}
	.project{
		width: 120px;
		height: 120px;
	}
	.project-image{
		height: 120px;
	}
	h4{
		margin: 5px;
	}
}
